#flag {
	height: 400px;
	width: 600px;
	background-color: transparent;
	position: relative;
	transition: background-color 1.5s ease;
}

#star {
	height: 60%;
	width: 40%;
	margin-left: 30%;
	margin-top: 10%;
	position: absolute;
	transition: all 0.5s ease;
}

.line {
	background-color: #0c9200;
}

.innerLine {
	height: 100%;
	width: 100%;
	background-color: white;
	position: absolute;
	margin: 0%;
	transition: height 1s ease, width 1s ease, padding 0.5s ease;
}

#firstLine {
	height: 100%;
	width: 5%;
	transform: skew(-18deg);
	position: absolute;
	margin-left: 30%;
	transition: all 1s ease;
}

#secondLine {
	height: 100%;
	width: 5%;
	transform: skew(18deg);
	position: absolute;
	margin-left: 65%;
	transition: all 1s ease;
}

#thirdLine {
	height: 66%;
	width: 8%;
	transform: skew(52deg);
	position: absolute;
	margin-left: 35%;
	margin-top: 34%;
	transition: all 1s ease;
}

#fourthLine {
	height: 5%;
	width: 100%;
	position: absolute;
	margin-top: 34%;
	transition: all 1s ease;
}

#fifthLine {
	height: 66%;
	width: 8%;
	transform: skew(-52deg);
	position: absolute;
	margin-left: 55.5%;
	margin-top: 34%;
	transition: all 1s ease;
}
